<section class="w-full bg-white pt-7 pb-7 md:pt-20 md:pb-24">
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">
    <div class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
      <i class="fas fa-users text-9xl text-yellow-300 p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"></i>
    </div>
    <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none">
      <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
        Who are we?
      </h2>
      <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
        We are Emerald Hosting. An upcoming Minecraft Server Provider.
      </p>
    </div>
  </div>
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16">
    <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32">
      <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
        What do we offer?
      </h2>
      <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">
        We offer top of the line hardware, software and support for all of our customers. Each of our servers are equipped with 4x Intel® Xeon® W-3375 Processors. They are clocked at 4.0Ghz meaning they are really fast.
        Our servers are also equipped with 2 Terabytes of RAM each, and a storage capacity of 32 Terabytes.
      </p>
    </div>
    <div class="box-border relative w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2">
      <i class="fas fa-server text-9xl text-yellow-300 p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"></i>
    </div>
  </div>
  <div class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">
    <div class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
      <i class="fas fa-map-marker-alt text-9xl text-yellow-300 p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"></i>
    </div>
    <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none">
      <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
        Where are we located?
      </h2>
      <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
        We have 5 servers located all around the globe to offer you a low latency connection. Our servers are located in the following area's.
      </p>
      <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
        <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
          <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-300 rounded-full"><span class="text-sm font-bold">✓</span></span> Amsterdam, The Netherlands
        </li>
        <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
          <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-300 rounded-full"><span class="text-sm font-bold">✓</span></span> Los Angeles, California
        </li>
        <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
          <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-300 rounded-full"><span class="text-sm font-bold">✓</span></span> Singapore, Singapore
        </li>
        <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
          <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-300 rounded-full"><span class="text-sm font-bold">✓</span></span> Melbourne, Australia
        </li>
        <li class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
          <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-green-300 rounded-full"><span class="text-sm font-bold">✓</span></span> Brasilia, Brazil
        </li>
      </ul>
    </div>
  </div>
</section>
